{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="most-frequent-words border table-responsive col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2">
        <h3 class="table-title">Top 10 most frequent words from rss feed excluding top 50 words from wiki</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Word</th>
                <th scope="col">Count</th>
            </tr>
            </thead>
            <tbody>
            {% for word in most_frequent_words %}
                <tr>
                    <td>{{ word.word }}</td>
                    <td>{{ word.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="rss-feed table-responsive border col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2">
        <h3 class="table-title"> Rss feed </h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Word</th>
                <th scope="col">Count</th>
            </tr>
            </thead>
            <tbody>
            {% for word in rss_feed %}
                <tr>
                    <td>{{ word.word }}</td>
                    <td>{{ word.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
